.products-masonry-list {
  position: relative;
  width: 100%;
  min-height: 800px;
}

.products-masonry-item {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 6px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.products-masonry-item .tilted-card-figure {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
}

